@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Edu+NSW+ACT+Hand+Pre:wght@400..700&family=Kapakana:wght@300..400&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libertinus+Math&family=Manrope:wght@200..800&family=Monsieur+La+Doulaise&family=Permanent+Marker&family=Playwrite+AU+QLD:wght@100..400&family=Savate:ital,wght@0,200..900;1,200..900&family=Twinkle+Star&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Hand+Pre:wght@400..700&family=Kapakana:wght@300..400&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libertinus+Math&family=Monsieur+La+Doulaise&family=Permanent+Marker&family=Savate:ital,wght@0,200..900;1,200..900&family=Twinkle+Star&display=swap');
@import 'tailwindcss';
@import './components/lightswind.css';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(11, 11, 11, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #101010;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@layer base {
  @font-face {
    font-family: 'Exo 2';
    src: url('/fonts/Exo2-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes smoke {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

.age-verification-bg {
  background-image: url('./assets/bg.svg');
  background-size: cover;
  background-position: center;
}

.fade-in {
  animation: fade-in 1.5s ease-out;
}

.float {
  animation: float 3s ease-in-out infinite;
}

.smoke {
  animation: smoke 4s linear infinite;
}
.scroll-container {
  scroll-behavior: smooth;
}
.neumorphism-button {
  background: #eaecf0bb;
  border-radius: 20px;
  box-shadow: 1px 1px 20px #a3b1c6b5, -1px -1px 20px #ffffff8d;
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.neumorphism-button:hover {
  box-shadow: inset 8px 8px 20px #a3b1c6, inset -13px -13px 20px #e9e1e1;
}

.neumorphism-fact {
  background: #f2f194db;
  border-radius: 20px;
  box-shadow: 1px 1px 20px #a3b1c6b5, -1px -1px 20px #ffffff8d;
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.neumorphism-fact:hover {
  box-shadow: inset 8px 8px 20px #a3b1c6, inset -13px -13px 20px #e9e1e1;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  margin: auto;
}

.overlay {
  background: rgba(0, 0, 0, 0.7);
}

/* styles.css */
.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  margin: auto;
}

.overlay {
  background: rgba(0, 0, 0, 0.7);
}

.hamburger-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(108, 140, 255, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.hamburger-menu.open {
  display: flex;
}

.hamburger-menu ul {
  list-style: none;
  padding: 0;
}

.hamburger-menu li {
  margin: 10px 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  background-color: transparent;
  border-radius: 25px;
  box-shadow: inset 2px 1px 20px rgb(70, 109, 101),
    inset -2px -2px 20px rgb(42, 26, 53);
  border-width: 0 2px 0 2px;
  border-style: solid;
  border-color: transparent #908267 transparent #2dda9d;

  background: radial-gradient(
      100% 61.73% at 100% 50%,
      rgba(255, 224, 166, 0.125) 0%,
      transparent 100%
    ),
    radial-gradient(
      91.09% 56.23% at 0% 50%,
      rgba(27, 157, 101, 0.2) 0%,
      transparent 100%
    );
  position: relative;
}
.form::before,
.form::after {
  content: '';
  position: absolute;
  border: 1px solid transparent;
  border: inherit;
  z-index: -1;
}
.form::before {
  inset: -1rem;
  opacity: 15%;
}
.form::after {
  inset: -2rem;
  opacity: 5%;
}

.form:hover {
  border: 1px solid rgb(183, 181, 181);
}

#heading {
  text-align: center;
  margin: 2em;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4px;
  gap: 0.5em;
  border-radius: 25px;
  padding: 14px 6px 14px 6px;
  border: 1px solid #05885f;
  outline: none;
  color: white;
  background-color: transparent;
  box-shadow: inset 2px 5px 10px rgb(152, 220, 208);
}

.field input {
  border: none;
}

.field input:focus {
  border-color: 1px solid rgb(183, 181, 181);
  outline: none;
}

.input-icon {
  height: 1.3em;
  width: 1.3em;
  fill: white;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
}
.input-field:focus {
  outline: none;
  color: #ffe0a6;
}
.input-field:focus-within {
  background: radial-gradient(
    47.3% 73.08% at 50% 94.23%,
    rgba(255, 224, 166, 0.1) 5%,
    rgba(0, 0, 0, 0) 100%
  );
}

.form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5em;
}

.button1 {
  margin-top: 1em;
  width: 60%;
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  margin-right: 0.5em;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #07c2a9;
  color: white;
  width: 100%;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.button1:hover {
  background-color: black;
  color: white;
  background: radial-gradient(
      100% 45% at 100% 50%,
      rgba(255, 224, 166, 0.084) 0%,
      rgba(115, 115, 115, 0) 100%
    ),
    radial-gradient(
      100% 45% at 0% 50%,
      rgba(255, 224, 166, 0.084) 0%,
      rgba(115, 115, 115, 0) 100%
    );
  border: 1px solid transparent;
}

.button_1 {
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  margin-right: 0.5em;
  border: 1px solid #05885f;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.button_1:hover {
  background: #379461;
  background-color: linear-gradient(
    90deg,
    rgba(55, 148, 97, 1) 40%,
    rgba(60, 183, 85, 1) 69%,
    rgba(5, 136, 95, 1) 94%
  );
  color: white;
}

.button2 {
  padding: 0.5em;
  padding-left: 2.3em;
  padding-right: 2.3em;
  border-radius: 5px;
  border: 1px solid #047f58;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.button_1:hover {
  background: #379461;
  background-color: linear-gradient(
    90deg,
    rgba(55, 148, 97, 1) 40%,
    rgba(60, 183, 85, 1) 69%,
    rgba(5, 136, 95, 1) 94%
  );
  color: white;
}

.button3 {
  margin-bottom: 3em;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid #379461;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.button_1:hover {
  background: #379461;
  background-color: linear-gradient(
    90deg,
    rgba(55, 148, 97, 1) 40%,
    rgba(60, 183, 85, 1) 69%,
    rgba(5, 136, 95, 1) 94%
  );
  color: white;
}

#source-link {
  top: 120px;
}

#source-link > i {
  color: rgb(94, 106, 210);
}

#yt-link {
  top: 65px;
}

#yt-link > i {
  color: rgb(219, 31, 106);
}

#Fund-link {
  top: 10px;
}

#Fund-link > i {
  color: rgb(255, 251, 0);
}

.meta-link {
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: inline-flex;
  gap: 5px;
  left: 10px;
  padding: 10px 20px;
  position: fixed;
  text-decoration: none;
  transition: background-color 600ms, border-color 600ms;
  z-index: 10000;
}

.meta-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.meta-link > i,
.meta-link > span {
  height: 20px;
  line-height: 20px;
}

.meta-link > span {
  color: black;
  font-family: 'Rubik', sans-serif;
  transition: color 600ms;
}

.spinner {
  border: 8px solid rgba(143, 225, 194, 0.3);
  border-top: 8px solid #c4eadd;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.8s linear infinite;
  margin: auto;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner_auth {
  border: 3px solid rgba(80, 222, 168, 0.3);
  border-top: 2px solid #c4eadd;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 0.8s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.bgI {
  background-image: url(assets/bg.svg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  color: #05885f;
  min-height: 100vh;
}

.gradient-border {
  position: relative;
  border-radius: 3px;
  background: transparent;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 1rem;
    padding: 2px;
    background: radial-gradient(
      circle at 35.86% 50%,
      #3cb755 0%,
      #05885f 48.96%,
      #3d0162 100%
    );
    -webkit-mask: linear-gradient(#000000f7 0 0) content-box,
      linear-gradient(#000000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }
}

.gradient-border-see {
  position: relative;
  border-radius: 3px;
  inset: 0;
  border-radius: 1rem;
  padding: 6px 4px 6px 4px;
  background-color: #05885f;
}

.gradient-border_no {
  position: relative;
  border-radius: 1rem;
  background: transparent;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 1rem;
    padding: 2px;
    background: radial-gradient(
      circle at 35.86% 50%,
      #b73c3c 0%,
      #883105 48.96%,
      #d70505 100%
    );
    -webkit-mask: linear-gradient(#000000f7 0 0) content-box,
      linear-gradient(#000000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }
}
.place {
  background: linear-gradient(
      270.75deg,
      #2b66ff -41.43%,
      #1e7ba3 6.2%,
      #5ce2ff 63.93% 63.93%,
      #69b0d8 102.9%
    )
    no-repeat;
}

.gradient-borderCode {
  position: relative;
  border-radius: 1rem;
  background: transparent;
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 1rem;
    padding: 2px;
    background: radial-gradient(
      circle at 35.86% 50%,
      #3cb755 0%,
      #05885f 48.96%,
      #3d0162 100%
    );
    -webkit-mask: linear-gradient(#000000f7 0 0) content-box,
      linear-gradient(#000000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }
}

.gradient-text {
  font-size: 22px;
  font-weight: bold;
  background: linear-gradient(
    90deg,
    rgb(108, 186, 146) 40%,
    rgb(186, 108, 177) 69%,
    rgb(16, 161, 52) 94%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  display: inline-block;
  margin-bottom: 1.5rem;
}

.scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 5vw;
  z-index: 80;
  width: 40px;
  height: 41px;
  opacity: 0;
  visibility: hidden;
  transform: translate(100%);
  transition: all 0.5s ease;
}

.scroll-to-top-btn.showed {
  opacity: 1;
  visibility: visible;
  transform: translate(0);
}

.scroll-to-top-btn:before {
  content: '';
  display: block;
  clear: both;
  border-radius: 50%;
  border: 1px solid rgba(238, 213, 248, 0.859);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  transition: all 0.6s ease;
}

.scroll-to-top-btn:after {
  content: '';
  display: block;
  clear: both;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgb(36, 235, 135);
  border-radius: 50%;
  animation: scaleUp 4s ease-in-out infinite;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.error-boundary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #1d2721;
  color: #fff;
  text-align: center;
}

.error-boundary h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.error-boundary p {
  margin-bottom: 1rem;
}

.error-boundary .btn {
  padding: 0.5rem 1rem;
  background-color: #a1e2c2;
  color: black;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.error-boundary .btn:hover {
  background-color: #0056b3;
}
